.m-form-config .m-popup-container {
    width: max-content;
}

.m-form-config .m-popup-main {
    height: max-content;
}

.config-popup {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.notification-config {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.config-popup .checkbox-config {
    display: flex;
    align-items: center;
    gap: 8px;
}

.config-popup .checkbox-config input {
    margin: 0;
    accent-color: #409330;
    cursor: pointer;
    width: 16px;
    height: 16px;
}
