.m-radio {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.m-radio-label {
    font-family: Roboto-Medium;
}

.m-radio-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 36px;
}

.m-radio-item {
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.m-radio-group input[type="radio"] {
    transform: scale(1.6);
    accent-color: #409330;
    margin: 0;
    cursor: pointer;
}
