.m-button {
    min-width: 80px;
    height: 36px;
    padding: 0 16px;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    font-family: Roboto-Medium;
}

/* Primary Button */
.m-primary-button {
    color: #fff;
    background-color: var(--primary-color);
}

.m-primary-button:hover {
    background-color: var(--primary-btn-hover-color);
}

.m-primary-button:active {
    background-color: var(--primary-btn-active-color);
}

/* Secondary Button */
.m-secondary-button {
    font-family: Roboto-Bold;
    color: var(--secondary-btn-text-color);
    border: 1px solid var(--border-color);
    background-color: #fff;
}

.m-secondary-button:not(.disable-button):hover {
    background-color: var(--secondary-btn-hover-color);
}

.m-secondary-button:not(.disable-button):active {
    border: 1px solid var(--secondary-btn-active-color);
    background-color: var(--secondary-btn-active-color);
    color: #1f1f1f;
}

/* Button with icon */
.m-wc-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    gap: 6px;
    color: #fff;
    padding: 0 16px 0 12px;
}

.m-wc-button span {
    width: 20px;
    height: 20px;
    background-image: url(@/assets/icon/add.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.m-wc-button:hover {
    background-color: var(--primary-btn-hover-color);
}

.m-wc-button:active {
    background-color: var(--primary-btn-active-color);
}

/* Icon Button */
.m-icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    padding: 0 8px;
    box-sizing: border-box;
    min-width: 0;
}

.m-icon-button span {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.m-icon-button:hover {
    background-color: #eeeeee;
}

.m-icon-button:active {
    background: #bdbdbd;
}

.disable-button {
    opacity: 56%;
    cursor: not-allowed;
}

.m-combo-button-container {
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    height: 36px;
    width: fit-content;
    gap: 1px;
}

.m-combo-button {
    background-color: var(--primary-color);
    color: inherit;
    border-radius: 4px 0 0 4px;
    color: #fff;
}

.m-combo-button-dropdown {
    position: relative;
    background-color: var(--primary-color);
    width: 36px;
    height: 36px;
    border-radius: 0 4px 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.m-combo-button-dropdown span {
    width: 20px;
    height: 20px;
    background-image: url(@/assets/icon/dropdown-white_24.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.m-combo-button-dropdown:hover {
    background-color: var(--primary-btn-hover-color);
}

.m-combo-button-dropdown:active {
    background-color: var(--primary-btn-active-color);
}
